<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contato</h2>
				<hr class="star-primary">
				<div class="col-lg-4 col-lg-offset-2">
                       <p>Telefone (Whatsapp):<br />{{ site.phone }}</p><br /><br />
                </div>
                <div class="col-lg-4">
                    <p>E-Mail:<br /><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                </div>
			</div>
		</div>
	</div>
</section>
